
<section class="sect1">
    <!--Large Screen-->
    <div class="container-fluid d-none d-lg-block">
        <div class="row content1">
            <div class="col-lg-2 text-center">
                <a href="">find atm/branch</a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="">report unauthorised transaction</a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="">download forms</a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="">faqs</a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="">get in touch</a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="">customer conversation platform</a>
            </div>
        </div>
    </div>
    <!--small screen-->
    <div class="container-fluid d-md-block d-lg-none">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item bg-transparent content1">
                <h2 class="accordion-header" id="flush-headingTop">
                    <button class="accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTop" aria-expanded="false" aria-controls="flush-collapseTop">
                        useful links
                    </button>
                </h2>
                <div id="flush-collapseTop" class="accordion-collapse collapse" aria-labelledby="flush-headingTop"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul>
                            <li><a href="">find atm/branch</a></li>
                            <li><a href="">report unauthorised transaction</a></li>
                            <li><a href="">download forms</a></li>
                            <li><a href="">faqs</a></li>
                            <li><a href="">get in touch</a></li>
                            <li><a href="">customer conversation platform</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sect2">
    <!--Large Screen-->
    <div class="container-fluid d-none d-lg-block">
        <div class="row content2">
            <div class="col-lg-2">
                <p>explore</p>
                <ul>
                    <li><a href="">investor relations</a></li>
                    <li><a href="">safe banking</a></li>
                    <li><a href="">internet banking</a></li>
                    <li><a href="">mobile banking</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <p>popular products</p>
                <ul>
                    <li><a href="">savings accounts</a></li>
                    <li><a href="">current accounts</a></li>
                    <li><a href="">personal loan</a></li>
                    <li><a href="">fixed deposit</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <p>calculators</p>
                <ul>
                    <li><a href="">EMI calculator</a></li>
                    <li><a href="">personal loan calculator</a></li>
                    <li><a href="">simple interest calculator</a></li>
                    <li><a href="">salary calculator</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <p>others</p>
                <ul>
                    <li><a href="">customer care</a></li>
                    <li><a href="">about us</a></li>
                    <li><a href="">blogs</a></li>
                    <li><a href="">compliments and complaints</a></li>
                </ul>
            </div>
            <div class="col-lg-3 mb-5">
                <p class="p1">get social</p>
                <div class="d-flex social mt-3">
                    <span class="icon1">
                        <a href="https://www.facebook.com/icicibank"><i class="fa-brands fa-facebook-f"
                                style="font-size:1.3rem; color: #ffffff;"></i></a>
                    </span>
                    <span class="icon2">
                        <a href="https://twitter.com/icicibank"><i class="fa-brands fa-twitter"
                                style="font-size:1.3rem; color: #ffffff;"></i></a>
                    </span>
                    <span class="icon3">
                        <a href="https://in.linkedin.com/company/icici-bank"><i class="fa-brands fa-linkedin-in"
                                style="font-size:1.3rem; color: #ffffff;"></i></a>
                    </span>
                    <span class="icon4">
                        <a href="https://www.youtube.com/user/icicibank"><i class="fa-brands fa-youtube"
                                style="font-size:1.3rem; color: #ffffff;"></i></a>
                    </span>
                </div>
                <p class="p2 mt-4">download mobilepay</p>
                <a href="https://apps.apple.com/in/app/imobile-by-icici-bank/id375276006">
                    <img class="mt-2 me-2" src="{{appstore}}"></a>
                <a href="https://play.google.com/store/apps/details?id=com.csam.icici.bank.imobile&hl=en_IN">
                    <img class="mt-2" src="{{playstore}}"></a>
            </div>
            <hr class="line">
            <span class="mt-4">copyright&copy; 2023. all rights reserved.</span>
        </div>
    </div>
    <!--small screen-->
    <div class="container-fluid d-md-block d-lg-none">
        <div class="accordion accordion-flush content2" id="accordionFlushExample">
            <div class="accordion-item bg-transparent ">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        explore
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul>
                            <li><a href="">investor relations</a></li>
                            <li><a href="">safe banking</a></li>
                            <li><a href="">internet banking</a></li>
                            <li><a href="">mobile banking</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item bg-transparent">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        popular products
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul>
                            <li><a href="">savings accounts</a></li>
                            <li><a href="">current accounts</a></li>
                            <li><a href="">personal loan</a></li>
                            <li><a href="">fixed deposit</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item bg-transparent">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        calculators
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul>
                            <li><a href="">EMI calculator</a></li>
                            <li><a href="">personal loan calculator</a></li>
                            <li><a href="">simple interest calculator</a></li>
                            <li><a href="">salary calculator</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item bg-transparent">
                <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        others
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul>
                            <li><a href="">customer care</a></li>
                            <li><a href="">about us</a></li>
                            <li><a href="">blogs</a></li>
                            <li><a href="">compliments and complaints</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <p class="p1 mt-5 ms-2">get social</p>
            <div class="d-flex social mt-3 ms-2">
                <span class="d-flex icon1">
                    <a href="https://www.facebook.com/icicibank"><i class="fa-brands fa-facebook-f"
                            style="font-size:1.3rem; color: #ffffff;"></i></a>
                </span>
                <span class="d-flex icon2">
                    <a href="https://twitter.com/icicibank"><i class="fa-brands fa-twitter"
                            style="font-size:1.3rem; color: #ffffff;"></i></a>
                </span>
                <span class="d-flex icon3">
                    <a href="https://in.linkedin.com/company/icici-bank"><i class="fa-brands fa-linkedin-in"
                            style="font-size:1.3rem; color: #ffffff;"></i></a>
                </span>
                <span class="d-flex icon4">
                    <a href="https://www.youtube.com/user/icicibank"><i class="fa-brands fa-youtube"
                            style="font-size:1.3rem; color: #ffffff;"></i></a>
                </span>
            </div>
        </div>
        <div class="row">
            <p class="p2 mt-5 ms-2">download mobilepay</p>
            <div class="d-flex ms-2">
                <a href="https://apps.apple.com/in/app/imobile-by-icici-bank/id375276006">
                    <img class="mt-2 me-2" src="{{appstore}}"></a>
                <a href="https://play.google.com/store/apps/details?id=com.csam.icici.bank.imobile&hl=en_IN">
                    <img class="mt-2" src="{{playstore}}"></a>
            </div>
        </div>
        <hr class="line mt-4">
        <span class="mt-4">copyright&copy; 2023. all rights reserved.</span>
    </div>
</section>



