<section class="sect1">
    <div class="container-breakpoint">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="/assets/images/campaign.webp" class="img-fluid img1" alt="first">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="row mt-5 justify-content-center">
                            <div class="card card0" style="width: 40rem;">
                                <h2 class="text-start">Offers for you!!</h2>
                                <div class="card-body text-start">
                                    <div class="row">
                                        <div class="col-1">
                                            <img src="/assets/images/creditcard-icon.png">
                                        </div>
                                        <div class="col-5">
                                            <strong>Savings Account</strong>
                                            <p>Open Insta Save account in 4 minutes</p>
                                        </div>
                                        <div class="col-1">
                                            <img src="/assets/images/homeloan-icon (1).png">
                                        </div>
                                        <div class="col-5">
                                            <strong>Home Loan</strong>
                                            <p>Digital Sanction with benefit of special processing fee</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1">
                                            <img src="/assets/images/creditcard-icon.png">
                                        </div>
                                        <div class="col-5">
                                            <strong>Credit card</strong>
                                            <p>Get the correct card for you</p>
                                        </div>
                                        <div class="col-1">
                                            <img src="/assets/images/personal-loan-icon.png">
                                        </div>
                                        <div class="col-5">
                                            <strong>Personal Loan</strong>
                                            <p>For all your needs, upto 50 lakh</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/assets/images/imobile-pay.webp" class="img-fluid img1" alt="second">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="row mt-5 justify-content-center">
                            <div class="col-md-6 col-lg-6">
                                <div class="card card1">
                                    <h2 class="text-start">Grow your investment</h2>
                                    <div class="card-body text-center">
                                        <div class="row">
                                            <div class="col-6">
                                                <img src="/assets/images/cc-icon.png" alt="fd" class="icon"><br />
                                                Fixed Deposit
                                            </div>
                                            <div class="col-6">
                                                <img src="/assets/images/mf-icon.png" alt="mf" class="icon"><br />
                                                Mutual Fund
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <img src="/assets/images/invest-icon-m.svg" alt="st" class="icon"><br />
                                                Invest in Stocks
                                            </div>
                                            <div class="col-6">
                                                <img src="/assets/images/rd-icon.png" alt="rp" class="icon"><br />
                                                Retirement Planning
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="card card2">
                                    <h2 class="text-start">For any assistance please call our customer care number</h2>
                                    <div class="card-body text-start">
                                        <h1><i class="pi pi-phone" style="color: #f37e20"></i>1800 10 80</h1>
                                        <button type="button" class="btn btn1">Contact us</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/assets/images/merchant-offer-d.webp" class="img-fluid img1" alt="third">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="row mt-5 justify-content-center">
                            <div class="card card2" style="width: 42rem;">
                                <h2 class="text-start">Easy way To Calculate your Interests!!</h2>
                                <div class="card-body text-start">
                                    <div class="row">
                                        <div class="col-1">
                                            <i class="fa-solid fa-calculator fa-2xl ms-3 mt-4"
                                                style="color: #f37e20;"></i>
                                        </div>
                                        <div class="col-5">
                                            <strong>Simple Interest Calculator</strong>
                                            <p>Plan your investments SI Calculator</p>
                                        </div>
                                        <div class="col-1">
                                            <i class="fa-solid fa-calculator fa-2xl ms-3 mt-4"
                                                style="color: #f37e20;"></i>
                                        </div>
                                        <div class="col-5">
                                            <strong>EMI Calculator</strong>
                                            <p>Calculate your EMI amount payable per month</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1">
                                            <i class="fa-solid fa-calculator fa-2xl ms-3 mt-4"
                                                style="color: #f37e20;"></i>
                                        </div>
                                        <div class="col-5">
                                            <strong>Fixed Deposit Calculator</strong>
                                            <p>Keep your money safe in Fixed Deposit</p>
                                        </div>
                                        <div class="col-1">
                                            <i class="fa-solid fa-calculator fa-2xl ms-3 mt-4"
                                                style="color: #f37e20;"></i>
                                        </div>
                                        <div class="col-5">
                                            <strong>Salary Calculator</strong>
                                            <p>Calculate your salary and deposit it</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</section>
<section class="sect-2 mt-3 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <nav>
                    <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                            aria-selected="true">
                            <i class="fa-solid fa-bag-shopping fa-lg" style="color: #000000;"></i> LIFESTYLE</button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                            type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                            <i class="fa-solid fa-map-location-dot fa-lg" style="color: #000000;"></i> TRAVEL</button>
                        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                            type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
                            <i class="fa-solid fa-basketball fa-lg" style="color: #000000;"></i> SPORTS</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <p class="text-center mt-5">Your Net Annual Income (In Lakhs)
                        <i class="fa-solid fa-sack-dollar fa-lg" style="color: #000000;"></i>
                    </p>
                    <div class="tab-pane fade show active " id="nav-home" role="tabpanel"
                        aria-labelledby="nav-home-tab">
                        <nav>
                            <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-2.5-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-2.5" type="button" role="tab" aria-controls="nav-2.5"
                                    aria-selected="true">2.5</button>
                                <button class="nav-link" id="nav-5-tab" data-bs-toggle="tab" data-bs-target="#nav-5"
                                    type="button" role="tab" aria-controls="nav-5" aria-selected="false">5</button>
                                <button class="nav-link" id="nav-10-tab" data-bs-toggle="tab" data-bs-target="#nav-10"
                                    type="button" role="tab" aria-controls="nav-10" aria-selected="false">10</button>
                                <button class="nav-link" id="nav-15-tab" data-bs-toggle="tab" data-bs-target="#nav-15"
                                    type="button" role="tab" aria-controls="nav-15" aria-selected="false">15</button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-2.5" role="tabpanel"
                                aria-labelledby="nav-2.5-tab">
                                <div class="row mt-5">
                                    <div class="col-md-6 col-lg-5">
                                        <img src="/assets/images/icici-platinum-chip-card.jpg" class="img-fluid">
                                    </div>
                                    <div class="col-md-6 col-lg-7">
                                        <h1>Platinum Chip Credit Card</h1>
                                        <ul class="features">
                                            <li>No Joining Fee. No Annual Fee</li>
                                            <li>Earn First Republic Bank Rewards Points on your spends except fuel</li>
                                            <li>Exclusive Dinning Offers through Culinary Treats Programme</li>
                                            <li>Save on 1% fuel surcharge, waived off at HPCL petrol pumps</li>
                                        </ul>
                                        <button type="button" class="btn btn1">Apply Now</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-5" role="tabpanel" aria-labelledby="nav-5-tab">
                                <div class="row mt-5">
                                    <div class="col-md-6 col-lg-5">
                                        <img src="/assets/images/cc-1.jpg" class="img-fluid">
                                    </div>
                                    <div class="col-md-6 col-lg-7">
                                        <h1>Coral Credit Card</h1>
                                        <ul class="features">
                                            <li>Joining fee 500 + GST</li>
                                            <li>Earn up to 10,000 additional reward points</li>
                                            <li>Buy 1, get 1 movie ticket free at BookMyShow</li>
                                            <li>One complimentary railway lounge visit per quarter</li>
                                        </ul>
                                        <button type="button" class="btn btn1">Apply Now</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-10" role="tabpanel" aria-labelledby="nav-10-tab">
                                <div class="row mt-5">
                                    <div class="col-md-6 col-lg-5">
                                        <img src="/assets/images/rubyx.jpg" class="img-fluid">
                                    </div>
                                    <div class="col-md-6 col-lg-7">
                                        <h1>Rubyx Credit Card</h1>
                                        <ul class="features">
                                            <li>Exclusive privileges - entertainment, dining, wellness and golf</li>
                                            <li>Complimentary airport lounge access</li>
                                            <li>Buy 1, get 1 movie ticket free at BookMyShow</li>
                                            <li>Welcome Vouchers on Shopping and Travel worth Rs 5000</li>
                                        </ul>
                                        <button type="button" class="btn btn1">Apply Now</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-15" role="tabpanel" aria-labelledby="nav-15-tab">
                                <div class="row mt-5">
                                    <div class="col-md-6  col-lg-5">
                                        <img src="/assets/images/sapphiro.jpg" class="img-fluid">
                                    </div>
                                    <div class="col-md-6 col-lg-7">
                                        <h1>Sapphiro Credit Card</h1>
                                        <ul class="features">
                                            <li>Exclusive privileges - entertainment, dining, wellness and golf</li>
                                            <li>Complimentary membership to the Dreamfolks DragonPass programme</li>
                                            <li>Buy 1, get 1 movie ticket free at BookMyShow</li>
                                            <li>Welcome Vouchers on Shopping and Travel worth Rs 10,000</li>
                                        </ul>
                                        <button type="button" class="btn btn1">Apply Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <nav>
                            <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-t2.5-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-t2.5" type="button" role="tab" aria-controls="nav-t2.5"
                                    aria-selected="true">2.5</button>
                                <button class="nav-link" id="nav-t5-tab" data-bs-toggle="tab" data-bs-target="#nav-t5"
                                    type="button" role="tab" aria-controls="nav-t5" aria-selected="false">5</button>
                                <button class="nav-link" id="nav-t10-tab" data-bs-toggle="tab" data-bs-target="#nav-t10"
                                    type="button" role="tab" aria-controls="nav-t10" aria-selected="false">10</button>
                                <button class="nav-link" id="nav-t15-tab" data-bs-toggle="tab" data-bs-target="#nav-t15"
                                    type="button" role="tab" aria-controls="nav-t15" aria-selected="false">15</button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-t2.5" role="tabpanel"
                                aria-labelledby="nav-t2.5-tab">
                                <div class="row mt-5">
                                    <div class="col-md-6 col-lg-5">
                                        <img src="/assets/images/cc-2.jpg" class="img-fluid">
                                    </div>
                                    <div class="col-md-6 col-lg-7">
                                        <h1>MakeMyTrip FR Bank Platinum Credit Card</h1>
                                        <ul class="features">
                                            <li>Joining Fee- Rs 500 + GST</li>
                                            <li>Rs 500 My Cash plus MakeMyTrip holiday voucher worth Rs 3,000 on joining
                                            </li>
                                            <li>Enjoy complimentary domestic airport & domestic railway lounge access
                                            </li>
                                            <li>Get an extended validity of 1.5 years^ on Joining Benefit My Cash</li>
                                        </ul>
                                        <button type="button" class="btn btn1">Apply Now</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-t5" role="tabpanel" aria-labelledby="nav-t5-tab">
                                <div class="row mt-5">
                                    <div class="col-md-6 col-lg-5">
                                        <img src="/assets/images/travel.png" class="img-fluid">
                                    </div>
                                    <div class="col-md-6 col-lg-7">
                                        <h1>MakeMyTrip FR Bank Signature Credit Card</h1>
                                        <ul class="features">
                                            <li>Joining Fee- Rs. 2,500 + GST*</li>
                                            <li>Rs. 1,500 My Cash* plus MakeMyTrip holiday voucher worth Rs 2,500 on
                                                joining
                                                complimentary MMTBLACK Exclusive membership</li>
                                            <li>Enjoy complimentary international and domestic airport lounge access and
                                                domestic railway lounge access</li>
                                            <li>Get an extended validity of 2 years^ on Joining Benefit My Cash</li>
                                        </ul>
                                        <button type="button" class="btn btn1">Apply Now</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-t10" role="tabpanel" aria-labelledby="nav-t10-tab">
                                <div class="row mt-5">
                                    <div class="col-md-6 col-lg-5">
                                        <img src="/assets/images/travel.png" class="img-fluid">
                                    </div>
                                    <div class="col-md-6 col-lg-7">
                                        <h1>MakeMyTrip FR Bank Signature Credit Card</h1>
                                        <ul class="features">
                                            <li>Joining Fee- Rs. 5000 + GST*</li>
                                            <li>Rs. 3000 My Cash* plus MakeMyTrip holiday voucher worth Rs 4,500 on
                                                joining
                                                complimentary MMTBLACK Exclusive membership</li>
                                            <li>Enjoy complimentary international and domestic airport lounge access and
                                                domestic railway lounge access</li>
                                            <li>Get an extended validity of 2.5 years^ on Joining Benefit My Cash</li>
                                        </ul>
                                        <button type="button" class="btn btn1">Apply Now</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-t15" role="tabpanel" aria-labelledby="nav-t15-tab">
                                <div class="row mt-5">
                                    <div class="col-md-6 col-lg-5">
                                        <img src="/assets/images/travel.png" class="img-fluid">
                                    </div>
                                    <div class="col-md-6 col-lg-7">
                                        <h1>MakeMyTrip FR Bank Signature Credit Card</h1>
                                        <ul class="features">
                                            <li>Joining Fee- Rs. 10,000 + GST*</li>
                                            <li>Rs. 5000 My Cash* plus MakeMyTrip holiday voucher worth Rs 7,500 on
                                                joining
                                                complimentary MMTBLACK Exclusive membership</li>
                                            <li>Enjoy complimentary international and domestic airport lounge access and
                                                domestic railway lounge access</li>
                                            <li>Get an extended validity of 3 years^ on Joining Benefit My Cash</li>
                                        </ul>
                                        <button type="button" class="btn btn1">Apply Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <nav>
                            <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-s2.5-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-s2.5" type="button" role="tab" aria-controls="nav-s2.5"
                                    aria-selected="true">2.5</button>
                                <button class="nav-link" id="nav-s5-tab" data-bs-toggle="tab" data-bs-target="#nav-s5"
                                    type="button" role="tab" aria-controls="nav-s5" aria-selected="false">5</button>
                                <button class="nav-link" id="nav-s10-tab" data-bs-toggle="tab" data-bs-target="#nav-s10"
                                    type="button" role="tab" aria-controls="nav-s10" aria-selected="false">10</button>
                                <button class="nav-link" id="nav-s15-tab" data-bs-toggle="tab" data-bs-target="#nav-s15"
                                    type="button" role="tab" aria-controls="nav-s15" aria-selected="false">15</button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-s2.5" role="tabpanel"
                                aria-labelledby="nav-s2.5-tab">
                                <div class="row mt-5">
                                    <div class="col-md-6 col-lg-5">
                                        <img src="/assets/images/card-3.jpg" class="img-fluid">
                                    </div>
                                    <div class="col-md-6 col-lg-7">
                                        <h1>Manchester United Platinum Credit Card</h1>
                                        <ul class="features">
                                            <li>Joining Fee - Rs 499 + GST</li>
                                            <li>Get a Manchester United branded football on activation</li>
                                            <li>Top 20 Spenders: Get a Manchester United Branded Merchandise Kit*</li>
                                            <li>1 complimentary domestic airport lounge visit per quarter</li>
                                        </ul>
                                        <button type="button" class="btn btn1">Apply Now</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-s5" role="tabpanel" aria-labelledby="nav-s5-tab">
                                <div class="row mt-5">
                                    <div class="col-md-6 col-lg-5">
                                        <img src="/assets/images/manchester-card.jpg" class="img-fluid">
                                    </div>
                                    <div class="col-md-6 col-lg-7">
                                        <h1>MakeMyTrip FR Bank Signature Credit Card</h1>
                                        <ul class="features">
                                            <li>Joining Fee - Rs 2,499 + GST</li>
                                            <li>Get a Manchester United branded football on activation</li>
                                            <li>Top 20 Spenders: Get a Manchester United Branded Merchandise Kit*</li>
                                            <li>2 complimentary domestic airport lounge visit per quarter</li>
                                        </ul>
                                        <button type="button" class="btn btn1">Apply Now</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-s10" role="tabpanel" aria-labelledby="nav-s10-tab">
                                <div class="row mt-5">
                                    <div class="col-md-6 col-lg-5">
                                        <img src="/assets/images/manchester-card.jpg" class="img-fluid">
                                    </div>
                                    <div class="col-md-6 col-lg-7">
                                        <h1>MakeMyTrip FR Bank Signature Credit Card</h1>
                                        <ul class="features">
                                            <li>Joining Fee - Rs 2,999 + GST</li>
                                            <li>Get a Manchester United branded football on activation</li>
                                            <li>Top 20 Spenders: Get a Manchester United Branded Merchandise Kit*</li>
                                            <li>3 complimentary domestic airport lounge visit per quarter</li>
                                        </ul>
                                        <button type="button" class="btn btn1">Apply Now</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-s15" role="tabpanel" aria-labelledby="nav-s15-tab">
                                <div class="row mt-5">
                                    <div class="col-md-6 col-lg-5">
                                        <img src="/assets/images/manchester-card.jpg" class="img-fluid">
                                    </div>
                                    <div class="col-md-6 col-lg-7">
                                        <h1>MakeMyTrip FR Bank Signature Credit Card</h1>
                                        <ul class="features">
                                            <li>Joining Fee - Rs 3,499 + GST</li>
                                            <li>Get a Manchester United branded football on activation</li>
                                            <li>Top 15 Spenders: Get a Manchester United Branded Merchandise Kit*</li>
                                            <li>4 complimentary domestic airport lounge visit per quarter</li>
                                        </ul>
                                        <button type="button" class="btn btn1">Apply Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sec-3 pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-5">
                <h1 class="head">DIGITAL BANKING</h1>
                <h2 class="subhead">Advance. Innovative. Instant</h2>
                <div class="d-flex mt-5">
                    <button type="button" class="btn btn2 me-3" data-bs-target="#carouselExampleInterval"
                        data-bs-slide-to="0">
                        <i class="fa-solid fa-mobile fa-lg" style="color: #000000;"></i> Mobile Banking</button>
                    <button type="button" class="btn btn2" data-bs-target="#carouselExampleInterval"
                        data-bs-slide-to="1">
                        <i class="fa-solid fa-globe fa-lg" style="color: #000000;"></i> Internet Banking</button>
                </div>
                <button type="button" class="btn btn2 mt-3" data-bs-target="#carouselExampleInterval"
                    data-bs-slide-to="2">
                    <i class="fa-brands fa-whatsapp fa-lg" style="color: #000000;"></i> Whatsapp Banking</button>
                <button type="button" class="btn btn3 mt-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    EXPLORE DIGITAL BANKING</button>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7 text-center">
                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="5000">
                            <img src="/assets/images/mobile-banking.png" class="img-fluid" alt="Mobile">
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                            <img src="/assets/images/net-banking.webp" class="img-fluid" alt="Internet">
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                            <img src="/assets/images/whatsApp-banking.png" class="img-fluid" alt="Whatsapp">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sect4">
    <div class="container pt-5 pb-5">
        <h1 class="head">WE TAKE YOUR SECURITY</h1>
        <p class="p1">SERIOUSLY !</p>
        <div class="row mt-5">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <p class="p2">Peace of mind for you as we have the most advanced technology & protection</p>
            </div>
            <div class="col-12 col-md-3 col-lg-3 d-flex flex-column flex-md-row align-items-center">
                <img src="/assets/images/two_factor_icon.png" class="img-fluid iconA me-2">
                <p class="p3">2 Factor i-safe authentication</p>
            </div>
            <div class="col-12 col-md-3 col-lg-3 d-flex flex-column flex-md-row align-items-center">
                <img src="/assets/images/end-to-end.png" class="img-fluid iconA me-2">
                <p class="p3">End-to-end 256 bit encryption</p>
            </div>
            <div class="col-12 col-md-3 col-lg-3 border-0 d-flex flex-column flex-md-row align-items-center">
                <img src="/assets/images/secure_contact.png" class="img-fluid iconA me-2">
                <p class="p3">We make you feel special</p>
            </div>
        </div>
    </div>
</section>
<div class="modal fade modal-dialog-scrollable modal-xl" id="staticBackdrop" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="staticBackdropLabel">DIGITAL BANKING</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-breakpoint modpage1">
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="text-center" id="head1">Advance. Innovative. Instance</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-none d-lg-block col-lg-7 retail ">
                            <div id="carouselExampleInterval1" class="carousel slide float-start ms-4 mt-2"
                                data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" data-bs-interval="3000">
                                        <img src="/assets/images/retail-banking-1.png" class="img-fluid" alt="rb1">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="7000">
                                        <img src="/assets/images/retail-banking-2.png" class="img-fluid" alt="rb2">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="7000">
                                        <img src="/assets/images/retail-banking-3.png" class="img-fluid" alt="rb3">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="7000">
                                        <img src="/assets/images/retail-banking-4.png" class="img-fluid" alt="rb4">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="7000">
                                        <img src="/assets/images/retail-banking-5.png" class="img-fluid" alt="rb5">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="7000">
                                        <img src="/assets/images/retail-banking-6.png" class="img-fluid" alt="rb6">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="7000">
                                        <img src="/assets/images/retail-banking-7.png" class="img-fluid" alt="rb7">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-5 pocket">
                            <div id="carouselExampleInterval2" class="carousel slide me-3" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" data-bs-interval="3000">
                                        <img src="/assets/images/pocket-img-1.png" class="img-fluid" alt="pi1">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="3000">
                                        <img src="/assets/images/pocket-img-2.png" class="img-fluid" alt="pi2">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="3000">
                                        <img src="/assets/images/pocket-img-3.png" class="img-fluid" alt="pi3">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="3000">
                                        <img src="/assets/images/pocket-img-4.png" class="img-fluid" alt="pi4">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="3000">
                                        <img src="/assets/images/pocket-img-5.png" class="img-fluid" alt="pi5">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="3000">
                                        <img src="/assets/images/pocket-img-6.png" class="img-fluid" alt="pi6">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="3000">
                                        <img src="/assets/images/pocket-img-7.png" class="img-fluid" alt="pi7">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="3000">
                                        <img src="/assets/images/pocket-img-8.png" class="img-fluid" alt="pi8">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container" id="modpage2">
                    <div class="row mt-3">
                        <div class="col-lg-6"></div>
                        <div class="col-md-12 col-lg-6 justify-content-center">
                            <p id="p0">MOBILE BANKING</p>
                            <p id="p1">WE ARE WHEREVER YOU ARE</p>
                            <p id="p2">FASTER. SAFER. CONVENIENT.</p>
                            <div class="d-flex mt-4">
                                <a href="https://play.google.com/store/apps/details?id=com.csam.icici.bank.imobile&hl=en_IN"
                                    target="_blank" class="me-5">
                                    <img src="/assets/images/playstore-icon.svg" class="img-fluid">
                                    <p id="p12">Available on</p>
                                    <p id="app">Google Play</p>
                                </a>
                                <a href="https://apps.apple.com/in/app/imobile-by-icici-bank/id375276006"
                                    target="_blank">
                                    <img src="/assets/images/apple-black-icon.svg" class="img-fluid">
                                    <p id="p12">Available on</p>
                                    <p id="app">App store</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row p-3 align-items-center box">
                        <div class="col-12 col-lg-9">
                            <p class="text-center mt-3 ps-5 pe-5 p13">EXPERIENCE WORLD CLASS BANKING WITH ICICI BANK
                                <strong>INTERNET BANKING</strong>
                            </p>
                        </div>
                        <div class="col-12 col-lg-3 text-center"><button type="button" class="btn btn5">OPEN AN ACCOUNT</button></div>
                    </div>
                </div>
                <div class="container-fluid mt-5 pt-5">
                    <div class="row">
                        <div class="col-lg-6 mt-5 pt-5 text-center">
                            <p id="p0">INTERNET BANKING</p>
                            <p id="p1">WE'VE REIMAGINED BANKING FOR YOU.</p>
                            <p id="p2">SIMPLER. SMARTER. SWIFTER.</p>
                            <button type="button" class="btn btn5">LOGIN NOW</button>
                        </div>
                        <div class="col-lg-6" id="caro1">
                            <div id="carouselExampleInterval3" class="carousel slide me-3" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" data-bs-interval="2000">
                                        <img src="/assets/images/internet-banking-img-1.png" class="img-fluid"
                                            alt="ib1">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="2000">
                                        <img src="/assets/images/internet-banking-img-2.png" class="img-fluid"
                                            alt="ib2">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="2000">
                                        <img src="/assets/images/internet-banking-img-3.png" class="img-fluid"
                                            alt="ib3">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="2000">
                                        <img src="/assets/images/internet-banking-img-4.png" class="img-fluid"
                                            alt="ib4">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="2000">
                                        <img src="/assets/images/internet-banking-img-5.png" class="img-fluid"
                                            alt="ib5">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="/assets/images/whatsapp-img.png" alt="wb" class="img-fluid">
                        </div>
                        <div class="col-lg-6 mt-5 pt-5 text-center">
                            <p id="p0">WHATSAPP BANKING</p>
                            <p id="p1">BANKING AS EASY AS SENDING A MESSAGE</p>
                            <p id="p2">FRIENDLY. EFFORTLESS. ADVANCE</p>
                            <button type="button" class="btn btn5">START WHATSAPP BANKING</button>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-6">
                            <img src="/assets/images/chat-bot.jpg" class="img-fluid" alt="vb">
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5 mt-5 pt-5 text-start">
                            <p id="p0">VOICE BANKING</p>
                            <p id="p1">NEXT GENERATION OF BANKING</p>
                            <p id="p2">SMART. HANDSFREE. CONNECTED.</p>
                            <button type="button" class="btn btn5">KNOW MORE</button>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <p id="pa1">START YOUR BANKING JOURNEY WITH US</p>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 col-lg-4" *ngFor="let item of data">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-4">
                                        <img src="{{item.image}}" class="img-fluid rounded-start mt-4" alt="image">
                                    </div>
                                    <div class="col-8">
                                        <div class="card-body">
                                            <h5 class="card-title topic">{{item.title}}</h5>
                                            <p class="card-text" id="pa2">{{item.content}}</p>
                                            <a href="" class="card-link me-4">{{item.link}}
                                                <i class="fa-solid fa-chevron-right fa-sm" style="color:#f37e20"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5"></div>
                    <div class="col-lg-12">
                        <h1 class="text-center">GET SOCIAL WITH US</h1>
                    </div>
                    <div class="row ">
                        <div class="col-lg-12">
                            <div class="d-flex justify-content-center">
                                <a href="https://twitter.com/icicibank" class="pe-3"><img
                                        src="/assets/images/twitter.png" class="img-fluid img12"></a>
                                <a href="https://www.instagram.com/icicibank/" class="pe-3"><img
                                        src="/assets/images/instagram.png" class="img-fluid img12"></a>
                                <a href="https://in.linkedin.com/company/icici-bank" class="pe-3"><img
                                        src="/assets/images/linkedin.png" class="img-fluid img12"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>