<section class="sect1">
    <div class="container-breakpoint">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="/assets/images/campaign.webp" class="img-fluid" alt="first">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="row mt-5">
                            <div class="col-6">
                                <div class="card card1">
                                    <h2 class="text-start">Offers for you!!</h2>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-6 text-start">
                                                    <strong>Savings Account</strong>
                                                <p>Open Insta Save account in 4 minutes</p>
                                            </div>
                                            <div class="col-6 text-start">
                                                <strong>Home Loan</strong>
                                                <p>Digital Sanction with benefit of special processing fee</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 text-start">
                                                <strong>Credit card</strong>
                                                <p>Get the correct card for you</p>
                                            </div>
                                            <div class="col-6 text-start">
                                                <strong>Personal Loan</strong>
                                                <p>For all your needs, upto 50 lakh</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="card card2">
                                    <h2 class="text-start">Grow your investment</h2>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-6">
                                                <img src="/assets/images/cc-icon.png" alt="fd">
                                                Fixed Deposit
                                            </div>
                                            <div class="col-6">
                                                <img src="/assets/images/mf-icon.png" alt="mf">
                                                Mutual Fund
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <img src="/assets/images/invest-icon-m.svg" alt="st">
                                                Invest in Stocks
                                            </div>
                                            <div class="col-6">
                                                <img src="/assets/images/rd-icon.png" alt="rp">
                                                Retirement Planning
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="card card3">
                                    <h2 class="text-start">For any assistance please call our customer care number</h2>
                                    <div class="card-body">
                                        <p>1800 10 80</p>
                                        <button class="btn btn-info">Contact us</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/assets/images/imobile-pay.webp" class="img-fluid" alt="second">
                    <div class="carousel-caption d-none d-md-block">

                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/assets/images/merchant-offer-d.webp" class="img-fluid" alt="third">
                    <div class="carousel-caption d-none d-md-block">

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>