.img1 {
    height: 550px;
}

.carousel-control-next-icon::after,
.carousel-control-prev-icon::after {
    display: none;
}

.card0,
.card1,
.card2 {
    border-radius: 10px;
    height: 200px;
    padding: 5px;
    position: absolute;
    top: -140px;
    z-index: 1;
}

.icon {
    width: 40px;
    height: 40px;
}

.sect1 .col-5,
.sect1 .col-1,
.sect1 .col-6 {
    cursor: pointer;
}

.sect1 .col-5:hover,
.sect1 .col-6:hover {
    color: #f37e20;
}

.btn1 {
    border-radius: 50px;
    border: 1px solid #f37e20;
    background-color: #f37e20;
    color: white;
    width: 125px;
    height: 35px;
}

.btn1:hover {
    border: 1px solid #f37e20;
    color: #f37e20;
    background-color: white;
}

.nav-link {
    background-color: #f37e20;
    color: white;
    padding: 10px 30px 10px 30px;
    margin: 0 1px 0 1px;
    font-size: 16px;
}

.nav-link:hover {
    background-color: whitesmoke;
    color: #f37e20;
}

.features {
    line-height: 1.8;
    font-size: 16px;
}

.sect2 {
    background-color: whitesmoke;
}

.card1,
.card2 {
    width: 25rem;
}

.btn2 {
    border: 1px solid #f37e20;
    border-radius: 20px;
    padding: 5px 20px 5px 25px;
    text-transform: capitalize;
}

.btn3 {
    border-radius: 50px;
    border: 1px solid #f37e20;
    background-color: #f37e20;
    color: white;
    padding: 10px 30px 10px 30px;
}


.btn3:hover {
    border: 1px solid #f37e20;
    color: #f37e20;
    background-color: white;
}

.sec-3 {
    background-color: #f8f8f8;
}

.head {
    color: #3D3D3D;
    font-weight: 700;
    letter-spacing: 1px;
}

.subhead {
    color: #A7A7A7;
    margin-top: -25px;
    font-weight: 800;
}

.sect4 {
    background-color: #FEEED3;
}

.p1 {
    font-size: 26px;
    color: #3D3D3D;
    font-weight: 100;
    margin-top: -15px;
}

.sect4 .col-lg-3 {
    padding: 0 20px 0 20px;
    border-right: solid #c9dbe1 .1em;
}

.p2 {
    font-size: 15px;
    color: #4B4B4B;
    font-weight: 400;
    opacity: 0.8;
}

.p3 {
    font-size: 15px;
    color: #4B4B4B;
    font-weight: 400;
    opacity: 0.8;
}

.iconA {
    width: 40px;
    height: 40px;
}

.modpage1 {
    background-color: #f37e20;
    padding: 30px 0 10px 0;
    position: relative;
    z-index: 0;
}

#head1 {
    font-size: 44px;
    font-weight: 900;
    text-align: center;
    color: #fff;
    opacity: 0.5;
    margin: 80px 0 60px 0;
    z-index: 1;
}

#carouselExampleInterval1 {
    position: absolute;
    z-index: 10;
}

#p0 {
    font-size: 18px;
    font-weight: bold;
    color: #074a86;
    letter-spacing: 0.5px;
}

#p1 {
    font-size: 18px;
    color: #4B4B4B;
}

#p2 {
    font-size: 18px;
    font-weight: 800;
    color: #4B4B4B;
}

#modpage2 {
    background-color: white;
    padding: 50px 0 100px 0;
}

#p12 {
    text-decoration: none;
    color: #7D7D7D;
    font-size: 10px;
    margin-left: 45px;
    margin-top: -40px;
}

#app {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 700;
    margin-top: -15px;
    margin-left: 45px;
}

#c1 {
    font-size: 18px;
    color: #4B4B4B;
}

.box {
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: whitesmoke;
}

.p13 {
    font-size: 18px;
    color: #4B4B4B;
}

.btn5 {
    border-radius: 50px;
    border: 1px solid #f37e20;
    background-color: #f37e20;
    color: white;
    padding: 10px 30px 10px 30px;
}

.btn5:hover {
    border: 1px solid #f37e20;
    color: #f37e20;
    background-color: white;
}

#caro1 {
    background-image: url("/assets/images/internet-banking-back.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

#carouselExampleInterval3 {
    position: absolute;
    z-index: 2;
}

#pa1 {
    font-size: 22px;
    color: #3D3D3D;
    font-weight: 400;
    letter-spacing: 0.3px;
}

#pa2 {
    margin-top: -13px;
    font-size: 13px;
    color: #4B4B4B;
}

.topic {
    font-weight: 700;
    color: #3D3D3D;
}

.card-link {
    text-decoration: none;
    color: #f37e20;
}

.card-link:hover {
    text-decoration: underline;
    text-decoration-color: #f37e20;
}

.img12 {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width:993px) and (max-width:1120px) {
    .card1 {
        margin-left: -30px;
    }

    .card2 {
        margin-left: 30px;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    .card1 {
        margin-left: -70px;
        width: 21rem;
    }

    .card2 {
        margin-left: 20px;
        width: 21rem;
    }
}

@media(max-width:767px) {
    .img1 {
        height: auto;
    }

    .card0,
    .card1,
    .card2 {
        display: none;
    }
}

@media(max-width:992px) {
    #carouselExampleInterval3 {
        display: none;
    }
}

@media(max-width:1200px) {
    #carouselExampleInterval1 {
        width: 70%;
    }

    #carouselExampleInterval1 img {
        width: 70%;
    }
}