<section class="sect1">
    <div class="container-breakpoint">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="/assets/images/campaign.webp" class="img-fluid img1" alt="first">
                    <div class="carousel-caption d-none d-lg-block">
                        <div class="row mt-5">
                            <div class="col-md-4 col-lg-6">
                                <div class="card card1">
                                    <h2 class="text-start">Offers for you!!</h2>
                                    <div class="card-body text-start">
                                        <div class="row">
                                            <div class="col-1">
                                                <img src="/assets/images/creditcard-icon.png">
                                            </div>
                                            <div class="col-5">
                                                <strong>Savings Account</strong>
                                                <p>Open Insta Save account in 4 minutes</p>
                                            </div>
                                            <div class="col-1">
                                                <img src="/assets/images/creditcard-icon.png">
                                            </div>
                                            <div class="col-5">
                                                <strong>Home Loan</strong>
                                                <p>Digital Sanction with benefit of special processing fee</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-1">
                                                <img src="/assets/images/creditcard-icon.png">
                                            </div>
                                            <div class="col-5">
                                                <strong>Credit card</strong>
                                                <p>Get the correct card for you</p>
                                            </div>
                                            <div class="col-1">
                                                <img src="/assets/images/creditcard-icon.png">
                                            </div>
                                            <div class="col-5">
                                                <strong>Personal Loan</strong>
                                                <p>For all your needs, upto 50 lakh</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-3">
                                <div class="card card2">
                                    <h2 class="text-start">Grow your investment</h2>
                                    <div class="card-body text-center">
                                        <div class="row">
                                            <div class="col-6">
                                                <img src="/assets/images/cc-icon.png" alt="fd" class="icon"><br />
                                                Fixed Deposit
                                            </div>
                                            <div class="col-6">
                                                <img src="/assets/images/mf-icon.png" alt="mf" class="icon"><br />
                                                Mutual Fund
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <img src="/assets/images/invest-icon-m.svg" alt="st" class="icon"><br />
                                                Invest in Stocks
                                            </div>
                                            <div class="col-6">
                                                <img src="/assets/images/rd-icon.png" alt="rp" class="icon"><br />
                                                Retirement Planning
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-3">
                                <div class="card card3">
                                    <h2 class="text-start">For any assistance please call our customer care number</h2>
                                    <div class="card-body text-start">
                                        <h1><i class="pi pi-phone" style="color: #f37e20"></i>1800 10 80</h1>
                                        <button type="button" class="btn btn1">Contact us</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/assets/images/imobile-pay.webp" class="img-fluid img1" alt="second">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="row mt-5">
                            <div class="col-md-4 col-lg-6">
                                <div class="card card1">
                                    <h2 class="text-start">Offers for you!!</h2>
                                    <div class="card-body text-start">
                                        <div class="row">
                                            <div class="col-1">
                                                <img src="/assets/images/creditcard-icon.png">
                                            </div>
                                            <div class="col-5">
                                                <strong>Savings Account</strong>
                                                <p>Open Insta Save account in 4 minutes</p>
                                            </div>
                                            <div class="col-1">
                                                <img src="/assets/images/creditcard-icon.png">
                                            </div>
                                            <div class="col-5">
                                                <strong>Home Loan</strong>
                                                <p>Digital Sanction with benefit of special processing fee</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-1">
                                                <img src="/assets/images/creditcard-icon.png">
                                            </div>
                                            <div class="col-5">
                                                <strong>Credit card</strong>
                                                <p>Get the correct card for you</p>
                                            </div>
                                            <div class="col-1">
                                                <img src="/assets/images/creditcard-icon.png">
                                            </div>
                                            <div class="col-5">
                                                <strong>Personal Loan</strong>
                                                <p>For all your needs, upto 50 lakh</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-3">
                                <div class="card card2">
                                    <h2 class="text-start">Grow your investment</h2>
                                    <div class="card-body text-center">
                                        <div class="row">
                                            <div class="col-6">
                                                <img src="/assets/images/cc-icon.png" alt="fd" class="icon"><br />
                                                Fixed Deposit
                                            </div>
                                            <div class="col-6">
                                                <img src="/assets/images/mf-icon.png" alt="mf" class="icon"><br />
                                                Mutual Fund
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <img src="/assets/images/invest-icon-m.svg" alt="st" class="icon"><br />
                                                Invest in Stocks
                                            </div>
                                            <div class="col-6">
                                                <img src="/assets/images/rd-icon.png" alt="rp" class="icon"><br />
                                                Retirement Planning
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-3">
                                <div class="card card3">
                                    <h2 class="text-start">For any assistance please call our customer care number</h2>
                                    <div class="card-body text-start">
                                        <h1>1800 10 80</h1>
                                        <button class="btn btn1">Contact us</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/assets/images/merchant-offer-d.webp" class="img-fluid img1" alt="third">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="row mt-5">
                            <div class="col-md-4 col-lg-6">
                                <div class="card card1">
                                    <h2 class="text-start">Offers for you!!</h2>
                                    <div class="card-body text-start">
                                        <div class="row">
                                            <div class="col-1">
                                                <img src="/assets/images/creditcard-icon.png">
                                            </div>
                                            <div class="col-5">
                                                <strong>Savings Account</strong>
                                                <p>Open Insta Save account in 4 minutes</p>
                                            </div>
                                            <div class="col-1">
                                                <img src="/assets/images/creditcard-icon.png">
                                            </div>
                                            <div class="col-5">
                                                <strong>Home Loan</strong>
                                                <p>Digital Sanction with benefit of special processing fee</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-1">
                                                <img src="/assets/images/creditcard-icon.png">
                                            </div>
                                            <div class="col-5">
                                                <strong>Credit card</strong>
                                                <p>Get the correct card for you</p>
                                            </div>
                                            <div class="col-1">
                                                <img src="/assets/images/creditcard-icon.png">
                                            </div>
                                            <div class="col-5">
                                                <strong>Personal Loan</strong>
                                                <p>For all your needs, upto 50 lakh</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-3">
                                <div class="card card2">
                                    <h2 class="text-start">Grow your investment</h2>
                                    <div class="card-body text-center">
                                        <div class="row">
                                            <div class="col-6">
                                                <img src="/assets/images/cc-icon.png" alt="fd" class="icon"><br />
                                                Fixed Deposit
                                            </div>
                                            <div class="col-6">
                                                <img src="/assets/images/mf-icon.png" alt="mf" class="icon"><br />
                                                Mutual Fund
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <img src="/assets/images/invest-icon-m.svg" alt="st" class="icon"><br />
                                                Invest in Stocks
                                            </div>
                                            <div class="col-6">
                                                <img src="/assets/images/rd-icon.png" alt="rp" class="icon"><br />
                                                Retirement Planning
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-3">
                                <div class="card card3">
                                    <h2 class="text-start">For any assistance please call our customer care number</h2>
                                    <div class="card-body text-start">
                                        <h1>1800 10 80</h1>
                                        <button class="btn btn1">Contact us</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sect-2 mt-3 mb-5">
    <div class="container">
        <div class="row">
            <nav>
                <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                        type="button" role="tab" aria-controls="nav-home" aria-selected="true">LIFESTYLE</button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                        type="button" role="tab" aria-controls="nav-profile" aria-selected="false">TRAVEL</button>
                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                        type="button" role="tab" aria-controls="nav-contact" aria-selected="false">SPORTS</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <p class="text-center mt-5">Your Net Annual Income (In Lakhs)</p>
                <div class="tab-pane fade show active " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <nav>
                        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-2.5-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-2.5" type="button" role="tab" aria-controls="nav-2.5"
                                aria-selected="true">2.5</button>
                            <button class="nav-link" id="nav-5-tab" data-bs-toggle="tab" data-bs-target="#nav-5"
                                type="button" role="tab" aria-controls="nav-5" aria-selected="false">5</button>
                            <button class="nav-link" id="nav-10-tab" data-bs-toggle="tab" data-bs-target="#nav-10"
                                type="button" role="tab" aria-controls="nav-10" aria-selected="false">10</button>
                            <button class="nav-link" id="nav-15-tab" data-bs-toggle="tab" data-bs-target="#nav-15"
                                type="button" role="tab" aria-controls="nav-15" aria-selected="false">15</button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-2.5" role="tabpanel"
                            aria-labelledby="nav-2.5-tab">
                            <div class="row mt-5">
                                <div class="col-5">
                                    <img src="/assets/images/icici-platinum-chip-card.jpg" id="chip1">
                                </div>
                                <div class="col-7">
                                    <h1>Platinum Chip Credit Card</h1>
                                    <ul class="features">
                                        <li>No Joining Fee. No Annual Fee</li>
                                        <li>Earn ICICI Bank Rewards Points on your spends except fuel</li>
                                        <li>Exclusive Dinning Offers through Culinary Treats Programme</li>
                                        <li>Save on 1% fuel surcharge, waived off at HPCL petrol pumps</li>
                                    </ul>
                                    <button type="button" class="btn btn1">Apply Now</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-5" role="tabpanel" aria-labelledby="nav-5-tab">
                            <div class="row mt-5">
                                <div class="col-5">
                                    <img src="/assets/images/cc-1.jpg" id="chip1">
                                </div>
                                <div class="col-7">
                                    <h1>Coral Credit Card</h1>
                                    <ul class="features">
                                        <li>Joining fee 500 + GST</li>
                                        <li>Earn up to 10,000 additional reward points</li>
                                        <li>Buy 1, get 1 movie ticket free at BookMyShow</li>
                                        <li>One complimentary railway lounge visit per quarter</li>
                                    </ul>
                                    <button type="button" class="btn btn1">Apply Now</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-10" role="tabpanel" aria-labelledby="nav-10-tab">
                            <div class="row mt-5">
                                <div class="col-5">
                                    <img src="/assets/images/rubyx.jpg" id="chip1">
                                </div>
                                <div class="col-7">
                                    <h1>Rubyx Credit Card</h1>
                                    <ul class="features">
                                        <li>Exclusive privileges - entertainment, dining, wellness and golf</li>
                                        <li>Complimentary airport lounge access</li>
                                        <li>Buy 1, get 1 movie ticket free at BookMyShow</li>
                                        <li>Welcome Vouchers on Shopping and Travel worth Rs 5000</li>
                                    </ul>
                                    <button type="button" class="btn btn1">Apply Now</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-15" role="tabpanel" aria-labelledby="nav-15-tab">
                            <div class="row mt-5">
                                <div class="col-5">
                                    <img src="/assets/images/sapphiro.jpg" id="chip1">
                                </div>
                                <div class="col-7">
                                    <h1>Sapphiro Credit Card</h1>
                                    <ul class="features">
                                        <li>Exclusive privileges - entertainment, dining, wellness and golf</li>
                                        <li>Complimentary membership to the Dreamfolks DragonPass programme</li>
                                        <li>Buy 1, get 1 movie ticket free at BookMyShow</li>
                                        <li>Welcome Vouchers on Shopping and Travel worth Rs 10,000</li>
                                    </ul>
                                    <button type="button" class="btn btn1">Apply Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <nav>
                        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-t2.5-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-t2.5" type="button" role="tab" aria-controls="nav-t2.5"
                                aria-selected="true">2.5</button>
                            <button class="nav-link" id="nav-t5-tab" data-bs-toggle="tab" data-bs-target="#nav-t5"
                                type="button" role="tab" aria-controls="nav-t5" aria-selected="false">5</button>
                            <button class="nav-link" id="nav-t10-tab" data-bs-toggle="tab" data-bs-target="#nav-t10"
                                type="button" role="tab" aria-controls="nav-t10" aria-selected="false">10</button>
                            <button class="nav-link" id="nav-t15-tab" data-bs-toggle="tab" data-bs-target="#nav-t15"
                                type="button" role="tab" aria-controls="nav-t15" aria-selected="false">15</button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-t2.5" role="tabpanel"
                            aria-labelledby="nav-t2.5-tab">
                            <div class="row mt-5">
                                <div class="col-5">
                                    <img src="/assets/images/cc-2.jpg" id="chip1">
                                </div>
                                <div class="col-7">
                                    <h1>MakeMyTrip ICICI Bank Platinum Credit Card</h1>
                                    <ul class="features">
                                        <li>Joining Fee- Rs 500 + GST</li>
                                        <li>Rs 500 My Cash plus MakeMyTrip holiday voucher worth Rs 3,000 on joining</li>
                                        <li>Enjoy complimentary domestic airport & domestic railway lounge access</li>
                                        <li>Get an extended validity of 1.5 years^ on Joining Benefit My Cash</li>
                                    </ul>
                                    <button type="button" class="btn btn1">Apply Now</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-t5" role="tabpanel" aria-labelledby="nav-t5-tab">
                            <div class="row mt-5">
                                <div class="col-5">
                                    <img src="/assets/images/travel.png" id="chip1">
                                </div>
                                <div class="col-7">
                                    <h1>MakeMyTrip ICICI Bank Signature Credit Card</h1>
                                    <ul class="features">
                                        <li>Joining Fee- Rs. 2,500 + GST*</li>
                                        <li>Rs. 1,500 My Cash* plus MakeMyTrip holiday voucher worth Rs 2,500 on joining
                                            complimentary MMTBLACK Exclusive membership</li>
                                        <li>Enjoy complimentary international and domestic airport lounge access and
                                            domestic railway lounge access</li>
                                        <li>Get an extended validity of 2  years^ on Joining Benefit My Cash</li>
                                    </ul>
                                    <button type="button" class="btn btn1">Apply Now</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-t10" role="tabpanel" aria-labelledby="nav-t10-tab">
                            <div class="row mt-5">
                                <div class="col-5">
                                    <img src="/assets/images/travel.png" id="chip1">
                                </div>
                                <div class="col-7">
                                    <h1>MakeMyTrip ICICI Bank Signature Credit Card</h1>
                                    <ul class="features">
                                        <li>Joining Fee- Rs. 5000 + GST*</li>
                                        <li>Rs. 3000 My Cash* plus MakeMyTrip holiday voucher worth Rs 4,500 on joining
                                            complimentary MMTBLACK Exclusive membership</li>
                                        <li>Enjoy complimentary international and domestic airport lounge access and
                                            domestic railway lounge access</li>
                                        <li>Get an extended validity of 2.5 years^ on Joining Benefit My Cash</li>
                                    </ul>
                                    <button type="button" class="btn btn1">Apply Now</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-t15" role="tabpanel" aria-labelledby="nav-t15-tab">
                            <div class="row mt-5">
                                <div class="col-5">
                                    <img src="/assets/images/travel.png" id="chip1">
                                </div>
                                <div class="col-7">
                                    <h1>MakeMyTrip ICICI Bank Signature Credit Card</h1>
                                    <ul class="features">
                                        <li>Joining Fee- Rs. 10,000 + GST*</li>
                                        <li>Rs. 5000 My Cash* plus MakeMyTrip holiday voucher worth Rs 7,500 on joining
                                            complimentary MMTBLACK Exclusive membership</li>
                                        <li>Enjoy complimentary international and domestic airport lounge access and
                                            domestic railway lounge access</li>
                                        <li>Get an extended validity of 3 years^ on Joining Benefit My Cash</li>
                                    </ul>
                                    <button type="button" class="btn btn1">Apply Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <nav>
                        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-s2.5-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-s2.5" type="button" role="tab" aria-controls="nav-s2.5"
                                aria-selected="true">2.5</button>
                            <button class="nav-link" id="nav-s5-tab" data-bs-toggle="tab" data-bs-target="#nav-s5"
                                type="button" role="tab" aria-controls="nav-s5" aria-selected="false">5</button>
                            <button class="nav-link" id="nav-s10-tab" data-bs-toggle="tab" data-bs-target="#nav-s10"
                                type="button" role="tab" aria-controls="nav-s10" aria-selected="false">10</button>
                            <button class="nav-link" id="nav-s15-tab" data-bs-toggle="tab" data-bs-target="#nav-s15"
                                type="button" role="tab" aria-controls="nav-s15" aria-selected="false">15</button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-s2.5" role="tabpanel"
                            aria-labelledby="nav-s2.5-tab">
                            <div class="row mt-5">
                                <div class="col-5">
                                    <img src="/assets/images/card-3.jpg" id="chip1">
                                </div>
                                <div class="col-7">
                                    <h1>Manchester United Platinum Credit Card</h1>
                                    <ul class="features">
                                        <li>Joining Fee - Rs 499 + GST</li>
                                        <li>Get a Manchester United branded football on activation</li>
                                        <li>Top 20 Spenders: Get a Manchester United Branded Merchandise Kit*</li>
                                        <li>1 complimentary domestic airport lounge visit per quarter</li>
                                    </ul>
                                    <button type="button" class="btn btn1">Apply Now</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-s5" role="tabpanel" aria-labelledby="nav-s5-tab">
                            <div class="row mt-5">
                                <div class="col-5">
                                    <img src="/assets/images/manchester-card.jpg" id="chip1">
                                </div>
                                <div class="col-7">
                                    <h1>MakeMyTrip ICICI Bank Signature Credit Card</h1>
                                    <ul class="features">
                                        <li>Joining Fee - Rs 2,499 + GST</li>
                                        <li>Get a Manchester United branded football on activation</li>
                                        <li>Top 20 Spenders: Get a Manchester United Branded Merchandise Kit*</li>
                                        <li>2 complimentary domestic airport lounge visit per quarter</li>
                                    </ul>
                                    <button type="button" class="btn btn1">Apply Now</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-s10" role="tabpanel" aria-labelledby="nav-s10-tab">
                            <div class="row mt-5">
                                <div class="col-5">
                                    <img src="/assets/images/manchester-card.jpg" id="chip1">
                                </div>
                                <div class="col-7">
                                    <h1>MakeMyTrip ICICI Bank Signature Credit Card</h1>
                                    <ul class="features">
                                        <li>Joining Fee - Rs 2,999 + GST</li>
                                        <li>Get a Manchester United branded football on activation</li>
                                        <li>Top 20 Spenders: Get a Manchester United Branded Merchandise Kit*</li>
                                        <li>3 complimentary domestic airport lounge visit per quarter</li>
                                    </ul>
                                    <button type="button" class="btn btn1">Apply Now</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-s15" role="tabpanel" aria-labelledby="nav-s15-tab">
                            <div class="row mt-5">
                                <div class="col-5">
                                    <img src="/assets/images/manchester-card.jpg" id="chip1">
                                </div>
                                <div class="col-7">
                                    <h1>MakeMyTrip ICICI Bank Signature Credit Card</h1>
                                    <ul class="features">
                                        <li>Joining Fee - Rs 3,499 + GST</li>
                                        <li>Get a Manchester United branded football on activation</li>
                                        <li>Top 15 Spenders: Get a Manchester United Branded Merchandise Kit*</li>
                                        <li>4 complimentary domestic airport lounge visit per quarter</li>
                                    </ul>
                                    <button type="button" class="btn btn1">Apply Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>