<body>


    <div class="container justify-content-center " *ngFor="let x of type">
        <div class="row d-flex" *ngIf="x.name=='Simple-Interest'">
            <div class=" col-6">
                <img src="{{x.imgBanner}}" alt=" " width="500px">
            </div>
            <div class="col-6 justify-content-center">
                <h2>{{x.name}}</h2><br>
                <label class="fs-5">Loan Amount</label>
                <input id="input2" type="number" value="100000" data-type="currency " min="100000" max="10000000" placeholder="1,00,000.00" [(ngModel)]="loanAmount" (keyup)="EMICalculator()"><br><br><br>
                <label class="fs-5">Interest Rate</label>
                <input id="input3" type="number" value="4" min="4" max="24" placeholder="4%" [(ngModel)]="InterestRate" (keyup)="EMICalculator()"><br><br><br>
                <label class="fs-5">Year</label>
                <input id="input4" type="number" value="1" min="1" max="30" placeholder="1year" [(ngModel)]="Year" (keyup)="EMICalculator()"><br><br><br>
                <h3> {{Emi }}</h3>
            </div>

        </div>

        <div class="row d-flex mt-5" *ngIf="x.name=='GST-Calculator'">
            <div class=" col-6">
                <div *ngIf="GSTType== 'GSTExclusive'">
                    <h2>{{GstTotal|currency:"INR"}}<br>{{GstTotal+GSTAmount|currency:"INR"}} </h2>
                </div>
                <div *ngIf="GSTType== 'GSTInclusive'">

                    <h5>{{TotalGST}} {{PreGSTAmount|currency:"INR"}} </h5>
                </div>
            </div>

            <div class="col-6">
                <h2>{{x.name}}</h2><br>

                <div class="row">
                    <div class="col-6">
                        <input type="radio" id="GSTExclusive" name="fav_language" default value="GSTExclusive" [(ngModel)]="GSTType"><sup> <label for="GSTExclusive"> GST Exclusive</label></sup>
                    </div>
                    <div class="col-6"><input type="radio" id="GSTInclusive" name="fav_language" value="GSTInclusive" [(ngModel)]="GSTType"><sup> <label for="GSTInclusive"> GST Inclusive</label></sup></div>
                </div><br><br>
                <!-- <label class="fs-5"></label> -->
                <section>
                    <form action="">
                        <div class="input-container">
                            <label id="lable" class="label" for="name">Enter Amount</label>
                            <input id="input" value="100000" data-type="currency" min="100000" max="10000000" placeholder="1,00,000.00" [(ngModel)]="GSTAmount">
                        </div>
                    </form>
                </section>
                <br><br>
                <label class="fs-5">Select GST %</label>
                <select class="ms-3" name="GstPercent" id="GstPercent" aria-label="Default select example" [(ngModel)]="GstPercent">
                    <option value="5">5%</option>
                    <option value="12">12%</option>
                    <option value="18">18%</option>
                    <option value="28">28%</option>
                </select><br><br><br>
                <div *ngIf="GSTType== 'GSTExclusive'">
                    <button class="custom-btn btn-5" (click)="GSTCalculator()"><span>TOTAL</span></button>

                </div>
                <div *ngIf="GSTType== 'GSTInclusive'">
                    <button class="custom-btn btn-5" (click)="GSTInclusivecal()"><span>TOTAL</span></button>
                </div>
            </div>

        </div>

    </div>
</body>