<div class="container-fluid">
    <nav class="navbar navbar-expand-lg ">
        <div joyrideStep="firstStep" title="NavBar" text="You can find all our services" class="container-fluid">
            <!--logo-->
           
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-lg-0" id="calc">
                    <li *ngFor="let item of menuItems" class="mx-3" (mouseover)="menucontent(item.children)">{{item.label}}</li>
                    
                </ul>
                
                
              
             
            </div>
           
        </div>
    </nav>
</div>
<div id="submenu" class="text-center">
   <div class="row" id="showItem">
    <div class="col-6">
        <ul>
            <a class="row w-100" *ngFor="let sub of subMenuItem">{{sub.label | uppercase}}</a>
        </ul>
    </div>
    <div class="col-6">
       
    </div>
   </div>

</div>

