<div class="container-fluid " id="nav">
  <nav class="navbar navbar-expand-lg">
    <div joyrideStep="firstStep" title="NavBar" text="You can find all our services" class="container-fluid">
      <a class="navbar-brand" href="#">FRB</a>
      <!--logo-->

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  mb-lg-0" id="calc">
          
          <li *ngFor="let item of menuItems" class=" main" (mouseover)="menucontent(item.children)">
            {{ item.label }}
          </li>
          <div id="submenu" class="container-fluid mt-5">
            <div class="row ">
              <div class="col-lg-3 col-md-4 col-sm-9">
                <ul class=" nav flex-column nav-tabs text-center" role="tablist" aria-orientation="vertical">
                  <li class="d-block p-3 bg-warning li-content nav-item" *ngFor="let sub of subMenuItem"><a class="nav-link active" id={{sub.target}} data-mdb-toggle="tab" (mouseover)="showContent(sub.id)"  aria-selected="true" href={{sub.id}} role="tab">{{
                      sub.label | uppercase }}</a></li>

                </ul>
              </div>
              <div class="col-lg-9 col-md-8 col-sm-9 d-block">
                <div class="card" style="width: 25rem;">
                  <img src={{optionObject.img}} class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{optionObject.name}}</h5>
                    <p class="card-text">{{optionObject.about}}</p>
                    <a routerLink="" class="btn btn-primary">Find {{optionObject.name}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ul>
        <ul class="navbar-nav ms-auto">
          <button class="btn btn-secondary mx-3">Sign in</button>
          <button class="btn btn-secondary" routerLink="signup">Sign up</button>
        </ul>
      </div>
    </div>
  </nav>
</div>