<div class="container">
  <mat-stepper linear>
    <mat-step [stepControl]="stepOne">
      <form [formGroup]="firstCtrl">
        <ng-template matSteplabel>Personal Details</ng-template>
        <div class="input-container">
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First name" formControlName="firstname" required>
          </mat-form-field>
        </div>
        <div class="input-container">
          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last name" formControlName="lastname" required>
          </mat-form-field>
        </div>
        <div class="input-container">
          <mat-form-field>
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Female">Female</mat-option>
              <mat-option value="other">Other</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="input-container">
          <mat-form-field>
            <mat-label>Marital Status</mat-label>
            <mat-select formControlName="marital">
              <mat-option value="Single">Single</mat-option>
              <mat-option value="Married">Married</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button class="btn btn-primary ps-3" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="stepTwo">
      <form [formGroup]="secondCtrl">
        <ng-template>Address Details</ng-template>
        <div class="input-container">
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput placeholder="Address" formControlName="address" required>
          </mat-form-field>
        </div>
        <div class="input-container">
          <mat-form-field>
            <mat-label>Pincode</mat-label>
            <input matInput placeholder="Pincode" formControlName="pincode" required>
          </mat-form-field>
        </div>
        <div class="input-container">
          <mat-form-field>
            <mat-label>Aadhar number</mat-label>
            <input matInput placeholder="Aadhar number" formControlName="aadhar" required>
          </mat-form-field>
        </div>
        <div class="input-container">
          <mat-form-field>
            <mat-label>PAN number</mat-label>
            <input matInput placeholder="PAN number" formControlName="pan" required>
          </mat-form-field>
        </div>
        <div>
          <button class="btn btn-primary me-3" mat-button matStepperPrevious>Back</button>
          <button class="btn btn-primary ps-3" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="stepThree">
      <form [formGroup]="thirdCtrl">
        <ng-template>Password Generation</ng-template>
        <div class="input-container">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" required>
          </mat-form-field>
        </div>
        <div class="input-container">
          <mat-form-field>
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="Phone number" formControlName="phone" required>
          </mat-form-field>
        </div>
      </form>      
        <form [formGroup]="signupForm" novalidate>
          <button class="btn btn-primary ps-3" (click)="signupForm.valid && onSubmit()" mat-button type="button">Signup</button>
        </form>      
    </mat-step>
  </mat-stepper>
</div>
