<div class="container">
    <div class="card flex justify-content-center">
        <div class="card-header">Register</div>

        <div class="card-body">
            
            <ul class=" ms-auto">
                <li><div class="card flex justify-content-center">
                    <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
                </div></li>
            </ul>
            <div class="row">
                <form [formGroup]="accountReg">
                <div class="col-6">
                    <div class="form-group">
                        <label for="">Name:</label>
                        <label for="">Arun</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="">Name:</label>
                        <label for="">Arun</label>
                    </div>
                </div>
            </form>
            </div>

        
        </div>
        

    </div>